<launch>

    <!-- this launch file should like, run 3 yolov3, run 3 yolo convertor, and run 3 ground plane... -->
    <!-- GP -->
    <arg name="rate" default="30.0"/>
    <arg name="base_footprint" default="/robot/BaseFrame" />
    <arg name="camera_frame" default="/hardware/video/valeo/ValeoLeftImageFrame" />
    <arg name="ground_plane" default="/ground_plane" />

    <!-- general yolo-v3 arg -->
    <!-- Console launch prefix -->
    <arg name="launch_prefix" default=""/>
    <!-- Config and weights folder. -->
    <arg name="yolo_weights_path"          default="$(find darknet_ros)/yolo_network_config/weights"/>
    <arg name="yolo_config_path"           default="$(find darknet_ros)/yolo_network_config/cfg"/>

    <!-- general yoloconvertor_panorama arg-->
    <arg name="detection_id_offset" default="0"/>
    <arg name="detection_id_increment" default="1"/>
    <arg name="world_scale" default="1.0"/>
    <arg name="queue_size" default="10" />

    <!-- yolofusion -->
    <arg name="overlap_thresh" default="0.05"/>


    <!-- VO -->
    <arg name="motion_parameters" default="/motion_matrix" />
    <arg name="sensor_frame_id" default="/hardware/depth/kinect2/ColorImageFrame" />
    <arg name="odom_frame_id" default="/robot/OdometryFrame" />

    <!-- tracker -->
    <arg name="camera_namespace" default="/hardware/depth/kinect2"/>
    <arg name="tracked_persons" default="/rwth_tracker/tracked_persons" />

    <!-- left yoloconvertor and yolo arg-->
    <arg name="pano_image_left" default="/hardware/video/valeo/rectificationNIKRLeft/PanoramaImage" />
    <arg name="detected_persons_left" default="/yoloconvertor_pano/detected_persons_left"/>
    <arg name="bounding_boxes_left" default="darknet_ros/bounding_boxes_left"/>
    <!-- right yoloconvertor and yolo arg-->
    <arg name="pano_image_right" default="/hardware/video/valeo/rectificationNIKRRight/PanoramaImage" />
    <arg name="detected_persons_right" default="/yoloconvertor_pano/detected_persons_right"/>
    <arg name="bounding_boxes_right" default="darknet_ros/bounding_boxes_right"/>
    <!-- rear yoloconvertor and yolo arg-->
    <arg name="pano_image_rear" default="/hardware/video/valeo/rectificationNIKRRear/PanoramaImage" />
    <arg name="detected_persons_rear" default="/yoloconvertor_pano/detected_persons_rear"/>
    <arg name="bounding_boxes_rear" default="darknet_ros/bounding_boxes_rear"/>

    <!-- left yoloconvertor and yolo-->
    <!-- Start darknet and ros wrapper -->
    <!-- Load parameters for left -->
    <rosparam command="load" ns="darknet_ros_left" file="$(find darknet_ros)/config/ros_pano_left.yaml"/>
    <rosparam command="load" ns="darknet_ros_left" file="$(find darknet_ros)/config/yolov3.yaml"/>
    <node pkg="darknet_ros" type="darknet_ros" name="darknet_ros_left" output="screen" launch-prefix="$(arg launch_prefix)">
      <param name="weights_path"          value="$(arg yolo_weights_path)" />
      <param name="config_path"           value="$(arg yolo_config_path)" />
    </node>
    <!-- Load parameters for right -->
    <rosparam command="load" ns="darknet_ros_right" file="$(find darknet_ros)/config/ros_pano_right.yaml"/>
    <rosparam command="load" ns="darknet_ros_right" file="$(find darknet_ros)/config/yolov3.yaml"/>
    <node pkg="darknet_ros" type="darknet_ros" name="darknet_ros_right" output="screen" launch-prefix="$(arg launch_prefix)">
      <param name="weights_path"          value="$(arg yolo_weights_path)" />
      <param name="config_path"           value="$(arg yolo_config_path)" />
    </node>
    <!-- Load parameters for rear -->
    <rosparam command="load" ns="darknet_ros_rear" file="$(find darknet_ros)/config/ros_pano_rear.yaml"/>
    <rosparam command="load" ns="darknet_ros_rear" file="$(find darknet_ros)/config/yolov3.yaml"/>
    <node pkg="darknet_ros" type="darknet_ros" name="darknet_ros_rear" output="screen" launch-prefix="$(arg launch_prefix)">
      <param name="weights_path"          value="$(arg yolo_weights_path)" />
      <param name="config_path"           value="$(arg yolo_config_path)" />
    </node>

    <!-- Ground Plane left -->
    <node pkg="rwth_ground_plane" type="ground_plane_tf_based_fixed" name="ground_plane_left" output="screen">
        <param name="base_footprint" value="$(arg base_footprint)" />
        <param name="camera_frame" value="/hardware/video/valeo/ValeoLeftImageFrame" />
        <param name="ground_plane" value="/ground_plane_left" />
        <param name="rate" value="$(arg rate)"/>
    </node>

    <!-- Ground Plane right -->
    <node pkg="rwth_ground_plane" type="ground_plane_tf_based_fixed" name="ground_plane_right" output="screen">
        <param name="base_footprint" value="$(arg base_footprint)" />
        <param name="camera_frame" value="/hardware/video/valeo/ValeoRightImageFrame" />
        <param name="ground_plane" value="/ground_plane_right" />
        <param name="rate" value="$(arg rate)"/>
    </node>

    <!-- Ground Plane rear -->
    <node pkg="rwth_ground_plane" type="ground_plane_tf_based_fixed" name="ground_plane_rear" output="screen">
        <param name="base_footprint" value="$(arg base_footprint)" />
        <param name="camera_frame" value="/hardware/video/valeo/ValeoRearImageFrame" />
        <param name="ground_plane" value="/ground_plane_rear" />
        <param name="rate" value="$(arg rate)"/>
    </node>


    <node pkg="yoloconvertor" type="yoloconvertor_panorama" name="yoloconvertor_panorama_left" output="screen">
        <param name="world_scale" value="$(arg world_scale)"/>
        <param name="ground_plane" value="/ground_plane_left" type="string"/>
        <param name="queue_size" value="$(arg queue_size)" type="int"/>
        <param name="pano_image" value="$(arg pano_image_left)" type="string"/>
        <param name="detected_persons" value="$(arg detected_persons_left)" type="string"/>
        <param name="detection_id_offset" value="$(arg detection_id_offset)"/>
        <param name="detection_id_increment" value="$(arg detection_id_increment)"/>
        <param name="bounding_boxes" value="$(arg bounding_boxes_left)"/>
    </node>

    <node pkg="yoloconvertor" type="yoloconvertor_panorama" name="yoloconvertor_panorama_right" output="screen">
        <param name="world_scale" value="$(arg world_scale)"/>
        <param name="ground_plane" value="/ground_plane_right" type="string"/>
        <param name="queue_size" value="$(arg queue_size)" type="int"/>
        <param name="pano_image" value="$(arg pano_image_right)" type="string"/>
        <param name="detected_persons" value="$(arg detected_persons_right)" type="string"/>
        <param name="detection_id_offset" value="$(arg detection_id_offset)"/>
        <param name="detection_id_increment" value="$(arg detection_id_increment)"/>
        <param name="bounding_boxes" value="$(arg bounding_boxes_right)"/>
    </node>

    <node pkg="yoloconvertor" type="yoloconvertor_panorama" name="yoloconvertor_panorama_rear" output="screen">
        <param name="world_scale" value="$(arg world_scale)"/>
        <param name="ground_plane" value="/ground_plane_rear" type="string"/>
        <param name="queue_size" value="$(arg queue_size)" type="int"/>
        <param name="pano_image" value="$(arg pano_image_rear)" type="string"/>
        <param name="detected_persons" value="$(arg detected_persons_rear)" type="string"/>
        <param name="detection_id_offset" value="$(arg detection_id_offset)"/>
        <param name="detection_id_increment" value="$(arg detection_id_increment)"/>
        <param name="bounding_boxes" value="$(arg bounding_boxes_rear)"/>
    </node>

   <!-- run yolofusion-->
   <node pkg="yoloconvertor" type="yoloconvertor_fusion" name="yoloconvertor_fusion" output="screen">
       <param name="world_scale" value="$(arg world_scale)"/>
       <param name="queue_size" value="$(arg queue_size)" type="int"/>
       <param name="detection_id_offset" value="0"/>
       <param name="detection_id_increment" value="1"/>
       <param name="pose_variance" value="0.05"/>
       <param name="overlap_thresh" value="$(arg overlap_thresh)"/>
       <param name="total_detected_persons" value="yolofusion/detected_persons" type="string"/>
       <param name="detected_persons_left" value="$(arg detected_persons_left)" type="string"/>
       <param name="detected_persons_right" value="$(arg detected_persons_right)" type="string"/>
       <param name="detected_persons_rear" value="$(arg detected_persons_rear)" type="string"/>
       <param name="left_camera_frame" value="/hardware/video/valeo/ValeoLeftImageFrame" type="string"/>
       <param name="right_camera_frame" value="/hardware/video/valeo/ValeoRightImageFrame" type="string"/>
       <param name="rear_camera_frame" value="/hardware/video/valeo/ValeoRearImageFrame" type="string"/>
       <param name="world_frame" value="/robot/OdometryFrame" type="string"/>
   </node>

    <!-- Visual Odometry -->
    <include file="$(find odometry_to_motion_matrix)/launch/tf2visual.launch">
        <arg name="motion_parameters" value="$(arg motion_parameters)" />
        <arg name="sensor_frame_id" value="$(arg sensor_frame_id)" />
        <arg name="odom_frame_id" value="$(arg odom_frame_id)" />
    </include>

    <!-- Pedestrian Tracking -->
    <include file="$(find rwth_pedestrian_tracking)/launch/pedestrian_tracking.launch">
        <arg name="camera_namespace" value="$(arg camera_namespace)" />
        <arg name="ground_plane" value="/ground_plane_right" />
        <arg name="detections" value="yolofusion/detected_persons" />
        <arg name="visual_odometry" value="$(arg motion_parameters)" />
        <arg name="pedestrian_array" value="/rwth_tracker/pedestrian_array" />
        <arg name="pedestrian_image" value="/rwth_tracker/image" />
        <arg name="tracked_persons" value="$(arg tracked_persons)" />
        <arg name="queue_size" value="10" />
    </include>

    <node name="topic_relay2" pkg="topic_tools" type="relay" args="/hardware/depth/kinect2/sync/SyncColorImage /hardware/depth/kinect2/hd/image_color_rect" respawn="true" />
    <node name="topic_relay3" pkg="topic_tools" type="relay" args="/hardware/depth/kinect2/ColorIntrinsic /hardware/depth/kinect2/hd/camera_info" respawn="true" />

</launch> 	
