<launch>
<!-- <machine name="jetson10" address="192.168.4.10" user="nvidia" env-loader="/home/nvidia/ros_ws/devel/env.sh" default="true" />
    <machine name="jetson11" address="192.168.4.11" user="nvidia" env-loader="/home/nvidia/frame_ws/devel/env.sh" default="true" />
    <machine name="jetson12" address="192.168.4.12" user="nvidia" env-loader="/home/nvidia/ros_ws/devel/env.sh" default="true" /> -->
    <machine name="jetson-x-03" address="192.168.4.10" user="nvidia" env-loader="/home/nvidia/ros_ws/devel/env.sh" default="true" />
    <machine name="jetson-x-04" address="192.168.4.11" user="nvidia" env-loader="/home/nvidia/ros_ws/devel/env.sh" default="true" />

  <!-- Load parameters -->
  <!-- <rosparam command="load" ns="darknet_ros_pano_left" file="$(find darknet_ros)/config/ros_pano_left.yaml"/>
  <rosparam command="load" ns="darknet_ros_pano_left" file="$(find darknet_ros)/config/yolov3.yaml"/>
  <rosparam command="load" ns="darknet_ros_pano_right" file="$(find darknet_ros)/config/ros_pano_right.yaml"/>
  <rosparam command="load" ns="darknet_ros_pano_right" file="$(find darknet_ros)/config/yolov3.yaml"/>
  <rosparam command="load" ns="darknet_ros_pano_rear" file="$(find darknet_ros)/config/ros_pano_rear.yaml"/>
  <rosparam command="load" ns="darknet_ros_pano_rear" file="$(find darknet_ros)/config/yolov3.yaml"/> -->

  <!-- Start darknet and ros wrapper -->
  <!-- <node machine="jetson10" pkg="darknet_ros" type="darknet_ros" name="darknet_ros_pano_left" output="screen" respawn="true" >
    <param name="weights_path"          value="/home/nvidia/ros_ws/src/darknet_ros/darknet_ros/yolo_network_config/weights" />
    <param name="config_path"           value="/home/nvidia/ros_ws/src/darknet_ros/darknet_ros/yolo_network_config/cfg" />
  </node>

  <node machine="jetson11" pkg="darknet_ros" type="darknet_ros" name="darknet_ros_pano_right" output="screen" respawn="true" >
    <param name="weights_path"          value="/home/nvidia/frame_ws/src/darknet_ros/darknet_ros/yolo_network_config/weights" />
    <param name="config_path"           value="/home/nvidia/frame_ws/src/darknet_ros/darknet_ros/yolo_network_config/cfg" />
  </node>

  <node machine="jetson12" pkg="darknet_ros" type="darknet_ros" name="darknet_ros_pano_rear" output="screen" respawn="true" >
    <param name="weights_path"          value="/home/nvidia/ros_ws/src/darknet_ros/darknet_ros/yolo_network_config/weights" />
    <param name="config_path"           value="/home/nvidia/ros_ws/src/darknet_ros/darknet_ros/yolo_network_config/cfg" />
  </node> -->

   <node machine="jetson-x-03" pkg="trtyolo" type="tensorrt_yolo" name= "trt_yolo_left" output="screen">
       <param name="engine_path" value="/home/nvidia/ros_ws/src/frame_soft/trtyolo/tensorRT_yolo/yolov3_fp16.engine" type="string"/>
       <param name="detect_threshold" value="0.7"/>
       <param name="nms_threshold" value="0.45"/>
       <param name="bounding_boxes" value="/trt_yolo_boxes_left" type="string"/>
       <param name="image" value="/hardware/video/valeo/rectificationNIKRLeft/PanoramaImage" type="string"/>
       <param name="tensorRT_yolo_out_image" value="/trt_yolo_image_left" type="string"/>
   </node>

   <node machine="jetson-x-03" pkg="trtyolo" type="tensorrt_yolo" name= "trt_yolo_right" output="screen">
       <param name="engine_path" value="/home/nvidia/ros_ws/src/frame_soft/trtyolo/tensorRT_yolo/yolov3_fp16.engine" type="string"/>
       <param name="detect_threshold" value="0.7"/>
       <param name="nms_threshold" value="0.45"/>
       <param name="bounding_boxes" value="/trt_yolo_boxes_right" type="string"/>
       <param name="image" value="/hardware/video/valeo/rectificationNIKRRight/PanoramaImage" type="string"/>
       <param name="tensorRT_yolo_out_image" value="/trt_yolo_image_right" type="string"/>
   </node>

   <node machine="jetson-x-04" pkg="trtyolo" type="tensorrt_yolo" name= "trt_yolo_rear" output="screen">
       <param name="engine_path" value="/home/nvidia/ros_ws/src/frame_soft/trtyolo/tensorRT_yolo/yolov3_fp16.engine" type="string"/>
       <param name="detect_threshold" value="0.7"/>
       <param name="nms_threshold" value="0.45"/>
       <param name="bounding_boxes" value="/trt_yolo_boxes_rear" type="string"/>
       <param name="image" value="/hardware/video/valeo/rectificationNIKRRear/PanoramaImage" type="string"/>
       <param name="tensorRT_yolo_out_image" value="/trt_yolo_image_rear" type="string"/>
   </node>



</launch> 
