<launch>

    <arg name="reid" default="true"/>
    <arg name="kinect" default="true" />
    <arg name="pano" default="true" />
    <arg name="trtyolo_path" default="/home/nvidia/ros_ws/src/frame_soft/trtyolo" />
    <arg name="pose_variance" default="0.05"/>

    <!-- <machine name="jetson10" address="192.168.4.10" user="nvidia" env-loader="/home/nvidia/ros_ws/devel/env.sh" default="true" />
    <machine name="jetson11" address="192.168.4.11" user="nvidia" env-loader="/home/nvidia/frame_ws/devel/env.sh" default="true" />
    <machine name="jetson12" address="192.168.4.12" user="nvidia" env-loader="/home/nvidia/ros_ws/devel/env.sh" default="true" /> -->
    <machine name="jetson-x-03" address="192.168.4.10" user="nvidia" env-loader="/home/nvidia/ros_ws/devel/env.sh" default="true" />
    <machine name="jetson-x-04" address="192.168.4.11" user="nvidia" env-loader="/home/nvidia/ros_ws/devel/env.sh" default="true" />


  <!-- Load parameters -->
  <!-- <rosparam command="load" ns="darknet_ros_pano_left" file="$(find darknet_ros)/config/ros_pano_left.yaml"/>
  <rosparam command="load" ns="darknet_ros_pano_left" file="$(find darknet_ros)/config/yolov3.yaml"/>
  <rosparam command="load" ns="darknet_ros_pano_right" file="$(find darknet_ros)/config/ros_pano_right.yaml"/>
  <rosparam command="load" ns="darknet_ros_pano_right" file="$(find darknet_ros)/config/yolov3.yaml"/>
  <rosparam command="load" ns="darknet_ros_pano_rear" file="$(find darknet_ros)/config/ros_pano_rear.yaml"/>
  <rosparam command="load" ns="darknet_ros_pano_rear" file="$(find darknet_ros)/config/yolov3.yaml"/> -->

  <!-- Start darknet and ros wrapper -->
  <!-- <node machine="jetson10" pkg="darknet_ros" type="darknet_ros" name="darknet_ros_pano_left" output="screen" respawn="true" >
    <param name="weights_path"          value="/home/nvidia/ros_ws/src/darknet_ros/darknet_ros/yolo_network_config/weights" />
    <param name="config_path"           value="/home/nvidia/ros_ws/src/darknet_ros/darknet_ros/yolo_network_config/cfg" />
  </node>

  <node machine="jetson11" pkg="darknet_ros" type="darknet_ros" name="darknet_ros_pano_right" output="screen" respawn="true" >
    <param name="weights_path"          value="/home/nvidia/frame_ws/src/darknet_ros/darknet_ros/yolo_network_config/weights" />
    <param name="config_path"           value="/home/nvidia/frame_ws/src/darknet_ros/darknet_ros/yolo_network_config/cfg" />
  </node>

  <node machine="jetson12" pkg="darknet_ros" type="darknet_ros" name="darknet_ros_pano_rear" output="screen" respawn="true" >
    <param name="weights_path"          value="/home/nvidia/ros_ws/src/darknet_ros/darknet_ros/yolo_network_config/weights" />
    <param name="config_path"           value="/home/nvidia/ros_ws/src/darknet_ros/darknet_ros/yolo_network_config/cfg" />
  </node> -->
    <group if="$(arg kinect)">
        <node machine="jetson-x-03" pkg="trtyolo" type="tensorrt_yolo" name= "trt_yolo_kinect" output="screen">
            <param name="engine_path" value="$(arg trtyolo_path)/tensorRT_yolo/yolov3_fp16_416_kinect.engine" type="string"/>
            <param name="detect_threshold" value="0.7"/>
            <param name="nms_threshold" value="0.45"/>
            <param name="bounding_boxes" value="/trt_yolo_boxes_kinect" type="string"/>
            <param name="image" value="/hardware/depth/kinect2/hd/image_color_rect" type="string"/>
            <param name="tensorRT_yolo_out_image" value="/trt_yolo_image_kinect" type="string"/>
        </node>

        <node machine="jetson-x-03" pkg="yoloconvertor" type="yoloconvertor_standard" name="yoloconvertor_kinect">
            <param name="world_scale" value="1.0"/>
            <param name="ground_plane" value="/ground_plane" type="string"/>
            <param name="queue_size" value="1" type="int"/>
            <param name="detected_persons" value="/detected_persons/yolo_kinect" type="string"/>
            <param name="detection_id_offset" value="$0"/>
            <param name="detection_id_increment" value="1"/>
            <param name="bounding_boxes" value="/trt_yolo_boxes_kinect"/>
            <param name="camera_namespace" value="/hardware/depth/kinect2" type="string"/>
            <param name="depth_scale" value="1.0"/>
            <param name="pose_variance" value="$(arg pose_variance)"/>
        </node>
    </group>

    <group if="$(arg pano)">
        <node machine="jetson-x-03" pkg="trtyolo" type="tensorrt_yolo" name= "trt_yolo_right" output="screen">
            <param name="engine_path" value="$(arg trtyolo_path)/tensorRT_yolo/yolov3_fp16_416.engine" type="string"/>
            <param name="detect_threshold" value="0.5"/>
            <param name="nms_threshold" value="0.45"/>
            <param name="bounding_boxes" value="/trt_yolo_boxes_right" type="string"/>
            <param name="image" value="/hardware/video/valeo/rectificationNIKRRight/PanoramaImage" type="string"/>
            <param name="tensorRT_yolo_out_image" value="/trt_yolo_image_right" type="string"/>
        </node>

        <node machine="jetson-x-04" pkg="trtyolo" type="tensorrt_yolo" name= "trt_yolo_left" output="screen">
            <param name="engine_path" value="$(arg trtyolo_path)/tensorRT_yolo/yolov3_fp16_416.engine" type="string"/>
            <param name="detect_threshold" value="0.5"/>
            <param name="nms_threshold" value="0.45"/>
            <param name="bounding_boxes" value="/trt_yolo_boxes_left" type="string"/>
            <param name="image" value="/hardware/video/valeo/rectificationNIKRLeft/PanoramaImage" type="string"/>
            <param name="tensorRT_yolo_out_image" value="/trt_yolo_image_left" type="string"/>
        </node>

        <node machine="jetson-x-04" pkg="trtyolo" type="tensorrt_yolo" name= "trt_yolo_rear" output="screen">
            <param name="engine_path" value="$(arg trtyolo_path)/tensorRT_yolo/yolov3_fp16_416_rear.engine" type="string"/>
            <param name="detect_threshold" value="0.5"/>
            <param name="nms_threshold" value="0.45"/>
            <param name="bounding_boxes" value="/trt_yolo_boxes_rear" type="string"/>
            <param name="image" value="/hardware/video/valeo/rectificationNIKRRear/PanoramaImage" type="string"/>
            <param name="tensorRT_yolo_out_image" value="/trt_yolo_image_rear" type="string"/>
        </node>
    </group>

    <group if="$(arg reid)">
        <node machine="jetson-x-03" pkg="reid" type="reid_ros.py" name="reid_kinect" cwd="node" output="screen">
            <param name="image" value="/hardware/depth/kinect2/hd/image_color_rect" type="string"/>
            <param name="detected_persons" value="/detected_persons/yolo_kinect" type="string"/>
            <param name="queue_size" value="1" type="int"/>
            <param name="model_path" value="./model_v1.pth"/>
            <param name="embed_detectedpersons" value="/detected_persons/yolo_kinect_id" type="string"/>
        </node>

        <node machine="jetson-x-03" pkg="reid" type="reid_ros.py" name="reid_pano_right" cwd="node" output="screen">
            <param name="image" value="/hardware/video/valeo/rectificationNIKRRight/PanoramaImage" type="string"/>
            <param name="detected_persons" value="/detected_persons/yolo_right" type="string"/>
            <param name="queue_size" value="1" type="int"/>
            <param name="model_path" value="./model_v1.pth"/>
            <param name="embed_detectedpersons" value="/detected_persons/yolo_right_id" type="string"/>
        </node>

        <node machine="jetson-x-04" pkg="reid" type="reid_ros.py" name="reid_pano_left" cwd="node" output="screen">
            <param name="image" value="/hardware/video/valeo/rectificationNIKRLeft/PanoramaImage" type="string"/>
            <param name="detected_persons" value="/detected_persons/yolo_left" type="string"/>
            <param name="queue_size" value="1" type="int"/>
            <param name="model_path" value="./model_v1.pth"/>
            <param name="embed_detectedpersons" value="/detected_persons/yolo_left_id" type="string"/>
        </node>

        <node machine="jetson-x-04" pkg="reid" type="reid_ros.py" name="reid_pano_rear" cwd="node" output="screen">
            <param name="image" value="/hardware/video/valeo/rectificationNIKRRear/PanoramaImage" type="string"/>
            <param name="detected_persons" value="/detected_persons/yolo_rear" type="string"/>
            <param name="queue_size" value="1" type="int"/>
            <param name="model_path" value="./model_v1.pth"/>
            <param name="embed_detectedpersons" value="/detected_persons/yolo_rear_id" type="string"/>
        </node>
    </group>

</launch> 
