<launch>
    <!-- Global parameters -->
    <!-- Nodes -->
    <arg name="mira_ros_adapter" default="false" />
    <arg name="kinect2_bridge" default="false" />
    <!-- VO -->
    <arg name="motion_parameters" default="/motion_matrix" />
    <arg name="sensor_frame_id" default="/hardware/depth/kinect2/ColorImageFrame" />
    <arg name="odom_frame_id" default="/robot/OdometryFrame" />
    <!-- GP -->
    <arg name="ground_plane" default="/ground_plane" />
    <arg name="rate" default="10.0"/>
    <arg name="base_footprint" default="/robot/BaseFrame" />
    <arg name="camera_frame" default="/hardware/depth/kinect2/ColorImageFrame" />
    <arg name="world_frame" default="/robot/OdometryFrame" />
    <!-- detectors -->
    <arg name="yolo" default="false"/>
    <arg name="camera_namespace" default="/hardware/depth/kinect2"/>
    <arg name="detected_persons_yolo" default="/detected_persons/yolo" />
    <arg name="fused_detections" default="/yolofusion/detected_persons"/>
    <arg name="queue_size" default="10"/>
    <arg name="detection_id_offset" default="0"/>
    <arg name="detection_id_increment" default="1"/>
    <arg name="overlap_thresh" default="0.05"/>
    <!-- general yolo-v3 arg -->
    <arg name="launch_prefix" default=""/>
    <arg name="yolo_weights_path" default="$(find darknet_ros)/yolo_network_config/weights"/>
    <arg name="yolo_config_path" default="$(find darknet_ros)/yolo_network_config/cfg"/>
    <arg name="yolo_version" default="v2"/>
    <!-- tracker -->
    <arg name="tracked_persons" default="/rwth_tracker/tracked_persons" />
    <!-- trajectories -->
    <arg name="person_trajectories" default="/rwth_tracker/person_trajectories" />
    <arg name="selected_person_trajectory" default="/rwth_tracker/selected_person_trajectory" />
    <arg name="potential_helpers" default="/rwth_tracker/potential_helpers" />
    <arg name="selected_helper" default="/rwth_tracker/selected_helper" />
    <arg name="keep" default="true" />
    <arg name="strict" default="false" />
    <arg name="remember" default="true" />
    <!-- /Global parameters -->
    
    <!-- MIRA-ROS-Adapter -->
    <include file="$(find mira_ros_adapter)/launch/mira_ros_adapter.launch" if="$(arg mira_ros_adapter)" />

    <!-- kinect2_bridge -->
    <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" if="$(arg kinect2_bridge)" />

    <!-- Visual Odometry -->
    <include file="$(find odometry_to_motion_matrix)/launch/tf2visual.launch">
        <arg name="motion_parameters" value="$(arg motion_parameters)" />
        <arg name="sensor_frame_id" value="$(arg sensor_frame_id)" />
        <arg name="odom_frame_id" value="$(arg odom_frame_id)" />
    </include>

    <!-- Ground Plane -->
    <include file="$(find rwth_ground_plane)/launch/ground_plane_tf_based_fixed.launch">
        <arg name="base_footprint" value="$(arg base_footprint)" />
        <arg name="camera_frame" value="$(arg world_frame)" />
        <arg name="ground_plane" value="$(arg ground_plane)" />
        <arg name="rate" value="$(arg rate)"/>
    </include>

    <include file="$(find yoloconvertor)/launch/yoloconvertorwith_GP.launch">
        <arg name="ground_plane" value="$(arg ground_plane)" />
        <arg name="queue_size" value="10" />
        <arg name="camera_namespace" value="$(arg camera_namespace)" />
        <arg name="detected_persons" value="$(arg detected_persons_yolo)"/>
        <arg name="detection_id_offset" value="5"/>
        <arg name="detection_id_increment" value="20"/>
        <arg name="world_scale" value="1.0"/>
        <arg name="bounding_boxes" value="darknet_ros/bounding_boxes_kinect"/>
        <arg name="depth_scale" value="0.001"/>
    </include>

   <!-- run yolofusion-->
   <node pkg="yoloconvertor" type="yoloconvertor_fusion" name="yoloconvertor_fusion" output="screen">
       <param name="queue_size" value="$(arg queue_size)" type="int"/>
       <param name="detection_id_offset" value="$(arg detection_id_offset)"/>
       <param name="detection_id_increment" value="$(arg detection_id_increment)"/>
       <param name="overlap_thresh" value="$(arg overlap_thresh)"/>
       <param name="total_detected_persons" value="$(arg fused_detections)" type="string"/>
       <param name="detected_persons_left" value="$(arg detected_persons_yolo)" type="string"/>
       <param name="detected_persons_right" value="$(arg detected_persons_yolo)" type="string"/>
       <param name="detected_persons_rear" value="$(arg detected_persons_yolo)" type="string"/>
   </node>


    <!-- Pedestrian Tracking -->
    <include file="$(find rwth_pedestrian_tracking)/launch/pedestrian_tracking.launch">
        <arg name="camera_namespace" value="$(arg camera_namespace)" />
        <arg name="ground_plane" value="$(arg ground_plane)" />
        <arg name="detections" value="$(arg fused_detections)" />
        <arg name="visual_odometry" value="$(arg motion_parameters)" />
        <arg name="pedestrian_array" value="/rwth_tracker/pedestrian_array" />
        <arg name="pedestrian_image" value="/rwth_tracker/image" />
        <arg name="tracked_persons" value="$(arg tracked_persons)" />
        <arg name="queue_size" value="10" />
    </include>

    <!-- Person Trajectories -->
    <include file="$(find rwth_pedestrian_trajectories)/launch/pedestrian_trajectories.launch">
        <arg name="tracked_persons" value="$(arg tracked_persons)" />
        <arg name="person_trajectories" value="$(arg person_trajectories)" />
        <arg name="potential_helpers" value="$(arg potential_helpers)" />
        <arg name="selected_helper" value="$(arg selected_helper)" />
        <arg name="queue_size" value="10" />
        <arg name="camera_frame" value="$(arg camera_frame)" />
        <arg name="keep" value="$(arg keep)" />
        <arg name="strict" value="$(arg strict)" />
        <arg name="remember" value="$(arg remember)" />
    </include>

</launch> 
