<launch>

    <!-- going back to workspace folder and find data folder there -->
    <arg name="path_to_bag" default="/globalwork/datasets/crowdbot/sc1_1.bag"/>

    <!-- global parameters for multiple nodes -->
    <arg name="camera_namespace" default="/camera"/>
    <arg name="world_scale" default="1.0"/>

    <!-- Visual odometry node -->
    <arg name="motion_parameters" default="/motion_matrix" />
    <arg name="sensor_frame_id" default="/camera_color_optical_frame" />
    <arg name="odom_frame_id" default="/base_link" />

    <!-- ground plane node settings -->
    <arg name="ground_plane" default="/ground_plane" />
    <arg name="rate" default="15.0"/>
    <arg name="base_footprint" default="$(arg odom_frame_id)" />
    <arg name="camera_frame" default="$(arg sensor_frame_id)" />
    <arg name="world_frame" default="$(arg odom_frame_id)" />

    <!-- yoloconvertor -->
    <arg name="camera_info" default="/color/camera_info"/>
    <arg name="depth_camera_info" default="/depth/camera_info"/>
    <arg name="depth_topic" default="/depth/image_rect_raw"/>

    <!-- fusion -->
    <arg name="fused_detections" default="/yolofusion/detected_persons"/>
    <arg name="fused_detections_pano" default="/yolofusion/detected_persons_pano"/>
    <arg name="queue_size" default="10"/>
    <arg name="queue_size_small" default="10"/> <!-- for nodes with images -->
    <arg name="detection_id_offset" default="1"/>
    <arg name="detection_id_increment" default="1"/>
    <arg name="overlap_thresh_pano" default="0.7"/>
    <arg name="overlap_thresh_pano_kinect" default="0.3"/>
    <arg name="depth_scale" default="1.0"/>
    <arg name="pano_image_left" default="/camera/color/image_raw" />
    <arg name="pano_image_right" default="/camera/color/image_raw" />
    <arg name="pano_image_rear" default="/camera/color/image_raw" />
    <arg name="fusion_rate" default="15" />

    <!-- general yolo-v3 arg -->
    <arg name="launch_prefix" default=""/>
    <arg name="yolo_weights_path" default="$(find darknet_ros)/yolo_network_config/weights"/>
    <arg name="yolo_config_path" default="$(find darknet_ros)/yolo_network_config/cfg"/>
    <arg name="yolo_version" default="v3"/>
    <!-- same parameter for multiple inputs because we have only one input source -->
    <arg name="bounding_boxes_yolo_kinect" default="/darknet_ros/bounding_boxes"/>
    <arg name="bounding_boxes_yolo_left" default="/darknet_ros/bounding_boxes"/>
    <arg name="bounding_boxes_yolo_right" default="/darknet_ros/bounding_boxes"/>
    <arg name="bounding_boxes_yolo_rear" default="/darknet_ros/bounding_boxes"/>
    <arg name="detected_persons_yolo" default="/detected_persons/yolo"/>
    <!-- outputs are also same -->
    <arg name="detected_persons_yolo_left" default="/detected_persons/yolo"/>
    <arg name="detected_persons_yolo_right" default="/detected_persons/yolo"/>
    <arg name="detected_persons_yolo_rear" default="/detected_persons/yolo"/>
    <arg name="yolo_pano_remote" default="false"/>
    <arg name="reid" default="true"/>
    <arg name="pose_variance" default="0.05"/>

    <!-- tracker, need to specify only the output topic -->
    <arg name="tracked_persons" default="/rwth_tracker/tracked_persons" />

    <!-- trajectories -->
    <arg name="person_trajectories" default="/rwth_tracker/person_trajectories" />
    <arg name="potential_helpers" default="/rwth_tracker/potential_helpers" />
    <arg name="selected_helper" default="/rwth_tracker/selected_helper" />
    <arg name="keep" default="true" />
    <arg name="strict" default="false" />
    <arg name="remember" default="true" />
    <arg name="helper_reid_thresh" default="50" /> <!-- set to 0 to disable -->

    <!-- backproject -->
    <arg name="max_frame" default="20" />
    <arg name="backproject_visual_image" default="/backproject_visual_image" />

    <!-- bagfile properites -->
    <arg name="use_bag" default="false" />
    <arg name="additional_arguments" default=""/>
    <arg name="delay_bag_file" default="10" />

    <!-- addwarp -->
    <arg name="use_optical_flow" default="true" />
    <!-- pwc -->

    <!-- end of settings -->

    <!-- Visual Odometry -->
    <include file="$(find odometry_to_motion_matrix)/launch/tf2visual.launch">
	<arg name="motion_parameters" value="$(arg motion_parameters)" />
	<arg name="sensor_frame_id" value="$(arg sensor_frame_id)" />
	<arg name="odom_frame_id" value="$(arg odom_frame_id)" />
    </include>

    <!-- Ground Plane -->
    <include file="$(find rwth_ground_plane)/launch/ground_plane_tf_based_fixed.launch">
        <arg name="base_footprint" value="$(arg base_footprint)" />
        <arg name="camera_frame" value="$(arg world_frame)" />
        <arg name="ground_plane" value="$(arg ground_plane)" />
        <arg name="rate" value="$(arg rate)"/>
    </include>

    <!-- YOLO -->
    <rosparam command="load" ns="darknet_ros" file="$(find darknet_ros)/config/ros.yaml"/>
    <rosparam command="load" ns="darknet_ros" file="$(find darknet_ros)/config/yolo$(arg yolo_version).yaml"/>
    <node pkg="darknet_ros" type="darknet_ros" name="darknet_ros" output="screen" launch-prefix="$(arg launch_prefix)" respawn="true">
	<param name="weights_path" value="$(arg yolo_weights_path)" />
	<param name="config_path" value="$(arg yolo_config_path)" />
    </node>

    <!-- yoloconvertor -->
    <node pkg="yoloconvertor" type="yoloconvertor_standard" name="yoloconvertor" output="screen">
	<param name="world_scale" value="$(arg world_scale)"/>
	<param name="ground_plane" value="$(arg ground_plane)" type="string"/>
	<param name="queue_size" value="$(arg queue_size_small)" type="int"/>
	<param name="detected_persons" value="$(arg detected_persons_yolo)" type="string"/>
	<param name="detection_id_offset" value="$(arg detection_id_offset)"/>
	<param name="detection_id_increment" value="$(arg detection_id_increment)"/>
	<param name="bounding_boxes" value="$(arg bounding_boxes_yolo_kinect)"/>
	<param name="camera_namespace" value="$(arg camera_namespace)" type="string"/>
	<param name="camera_info" value="$(arg camera_info)" type="string"/>
	<param name="depth_camera_info" value="$(arg depth_camera_info)" type="string"/>
	<param name="depth_topic" value="$(arg depth_topic)" type="string"/>
	<param name="depth_scale" value="$(arg depth_scale)"/>
	<param name="pose_variance" value="$(arg pose_variance)"/>
    </node>

    <!-- yolofusion-->
    <node pkg="yoloconvertor" type="yoloconvertor_fusion" name="yoloconvertor_fusion" output="screen">
	<param name="queue_size" value="$(arg queue_size)" type="int"/>
	<param name="detection_id_offset" value="$(arg detection_id_offset)"/>
	<param name="detection_id_increment" value="$(arg detection_id_increment)"/>
	<param name="overlap_thresh" value="$(arg overlap_thresh_pano)"/>
	    <!-- duplicating inputs -->
	<param name="detected_persons_left" value="$(arg detected_persons_yolo_left)" unless="$(arg reid)" type="string"/>
	<param name="detected_persons_right" value="$(arg detected_persons_yolo_right)" unless="$(arg reid)" type="string"/>
	<param name="detected_persons_rear" value="$(arg detected_persons_yolo_rear)" unless="$(arg reid)" type="string"/>
	<param name="detected_persons_left" value="$(arg detected_persons_yolo_left)_id" if="$(arg reid)" type="string"/>
	<param name="detected_persons_right" value="$(arg detected_persons_yolo_right)_id" if="$(arg reid)" type="string"/>
	<param name="detected_persons_rear" value="$(arg detected_persons_yolo_rear)_id" if="$(arg reid)" type="string"/>
	   <!-- output -->
	<param name="total_detected_persons" value="$(arg fused_detections)" type="string"/>
	<param name="world_frame" value="$(arg world_frame)" type="string"/>
    </node>

    <group if="$(arg reid)">
        <node pkg="reid" type="reid_ros.py" name="reid_kinect" cwd="node" output="screen">
            <param name="image" value="$(arg pano_image_rear)" type="string"/>
            <param name="detected_persons" value="$(arg detected_persons_yolo)" type="string"/>
            <param name="queue_size" value="$(arg queue_size_small)" type="int"/>
            <param name="model_path" value="./model_v1.pth"/>
            <param name="embed_detectedpersons" value="$(arg detected_persons_yolo)_id" type="string"/>
        </node>
    </group>

    <group if="$(arg use_optical_flow)">

	<!-- PWC_net >
	<include file="$(find pwc_net_ros)/launch/demo.launch" /-->
	<!-- PWC_net -->
<!-- 	<node pkg="pwc_net_ros" type="node.py" name="pwc_net_ros" output="screen"
        launch-prefix="xterm -e bash -c 'source ~/.local/python-2.7/bin/activate;source ~/catkin_ws/devel/setup.bash;roslaunch pwc_net_ros demo.launch'">
  </node> -->

  <node pkg="pwc_net_ros" type="node.py" name="pwc_net_ros" output="screen"
        launch-prefix="xterm -e bash -c 'source ~/pwc_venv/bin/activate'">
    <rosparam command="load" file="$(find pwc_net_ros)/config/pwc_net_ros.yaml" subst_value="true"/>
    <remap from="image_in"                to="/camera/color/image_raw"/>
    <remap from="optical_flow_out"        to="optical_flow_out"/>
    <remap from="optical_flow_hsv_out"    to="optical_flow_hsv_out"/>
    <remap from="optical_flow_warp_out"   to="optical_flow_warp_out"/>
  </node>


    </group>

    <!-- Addwarp -->
    <node pkg="addwarp" type="addwarp" name="addwarp" output="screen">
	<rosparam command="load" file="$(find addwarp)/config/addwarp.yaml"/>
	<rosparam command="load" file="$(find addwarp)/config/topics.yaml"/>
    </node>
    <!-- Pedestrian Tracking -->
    <include file="$(find rwth_pedestrian_tracking)/launch/pedestrian_tracking.launch">
	<arg name="camera_namespace" value="$(arg camera_namespace)" />
	<arg name="ground_plane" value="$(arg ground_plane)" />
	<!-- remaping the input from normal to addwarp -->
	<arg name="detections" value="/addwarp/detected_persons" />
	<arg name="visual_odometry" value="$(arg motion_parameters)" />
	<arg name="pedestrian_array" value="/rwth_tracker/pedestrian_array" />
	<arg name="pedestrian_image" value="/rwth_tracker/image" />
	<arg name="tracked_persons" value="$(arg tracked_persons)" />
	<arg name="queue_size" value="10" />
    </include>

   <!-- Person Trajectories -->
    <include file="$(find rwth_pedestrian_trajectories)/launch/pedestrian_trajectories.launch">
        <arg name="tracked_persons" value="$(arg tracked_persons)" />
        <arg name="person_trajectories" value="$(arg person_trajectories)" />
        <arg name="queue_size" value="10" />
        <arg name="camera_frame" value="$(arg camera_frame)" />
    </include>

   <!-- run back projection-->
   <node pkg="yoloconvertor" type="backprojection_pinhole" name= "backproject_pinhole" output="screen">
       <param name="tracked_persons" value="$(arg tracked_persons)" type="string"/>
       <param name="world_frame" value="$(arg world_frame)" type="string"/>
       <param name="backproject_visual_image" value="$(arg backproject_visual_image)" type="string"/>
       <param name="person_trajectories" value="$(arg person_trajectories)" />
       <param name="max_frame" value="$(arg max_frame)" type="int"/>

	<remap from="/head_xtion/hd/camera_info" to="/camera/color/camera_info"/>
	<remap from="/head_xtion/hd/image_color_rect" to="/camera/color/image_raw"/>
    </node>

    <!-- sim parameter -->
    <param name="use_sim_time" value="true" />

    <!-- run rosbag -->
    <group if="$(arg use_bag)">
	<!-- run tf_broadcaster -->
	<node pkg="realsense_tf" type="tf_broadcaster" name= "tf_broadcaster" output="screen"/>
	<node pkg="rosbag" type="play" name="player" output="screen" required="true" args="--clock $(arg additional_arguments) -d $(arg delay_bag_file) $(arg path_to_bag) /tf:=/tf_null"/>

    </group>

</launch>
